# This is a list of CODEOWNERS for this repository.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Global owner(s) for the repository
*       @vanshika114

# The frontend code is owned by the maintainer
/frontend/      @vanshika114

# The GitHub actions and templates are owned by the maintainer
/.github/       @vanshika114
